{% extends 'ShopBundle:Default:index.html.twig' %}

{% block body %}
    <div class="container jumbotron border border-success ">
        <div class="container ">
            {{ form(form_edit_blog) }}
        </div>
    </div>
{% endblock %}