<footer class="text-muted navbar-dark bg-dark sticky-bottom">
    <div class="container">
        <p class="float-right">
            <a href="#">На вверх</a>
        </p>
        <p>Мы доставляем только свежие продукты!</p>
        <p>Возникли вопросы? <a href="#"> свяжитесь с нами</a> или приходите в наш магазин <a href="#"> будем рады Вас видеть!</a>.</p>
    </div>
</footer>