{% extends 'ShopBundle:Default:index.html.twig' %}

{% block body %}
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading"> Регистрация</h2>
            {{ form(form_add_user, {'attr': {'class': 'form-control'}}) }}
        </form>
    </div>
{% endblock %}